<div class="low-navbar d-flex justify-content-around border-top">
  <%= link_to root_path do %>
    <div class="home text-center <%= current_class?(root_path) %>">
      <%= image_tag "menu_icons/home.svg" %>
      <p>Início</p>
    </div>
  <% end %>
  <%= link_to cartao_path do %>
    <div class="credit-card text-center <%= current_class?(cartao_path) %>">
      <%= image_tag "menu_icons/credit_card.svg" %>
      <p>Cartão</p>
    </div>
  <% end %>
  <%= link_to tags_path do %>
    <div class="tag text-center <%= current_class?(tags_path) %>">
      <%= image_tag "menu_icons/tag.svg" %>
      <p>Tag</p>
    </div>
  <% end %>
  <%= link_to perfil_path do %>
    <div class="profile text-center <%= current_class?(perfil_path) %>">
      <%= image_tag "menu_icons/profile.svg" %>
      <p>Perfil</p>
    </div>
  <% end %>
</div>
