<div class='bg-white'>
  <h2 class='card-title text-center'>Fatura Fechada</h2>
  <div>
    <p>GRAPH</p>
  </div>

  <div class='card-padding text-center'>
    <div class="d-flex justify-content-around align-items-center card-summary">
      <div class='w-50'>
        <p class='mb-0 card-summary-text'>Valor Total</p>
        <span>R$</span> <span class='card-summary-value'>768</span><span>,52</span>
      </div>
      <div class='w-50'>
        <p class='mb-0 card-summary-text'>Vencimento</p>
        <span class='card-summary-value'>08</span> <span>de junho</span>
      </div>
    </div>
  </div>

  <div class='card-padding my-4'>
    <ul class='leaders'>
      <li>
        <span class='card-transaction-text'>Pagamento mínimo</span>
        <span class='card-transaction-values'>R$ <span class='card-transaction-value'>115</span>,28</span>
      </li>
    </ul>
  </div>

  <div class="card-padding">
    <p><%= link_to 'CÓDIGO DE BARRAS DA FATURA', '#', class: 'carrefour-btn-primary btn-block mt-5' %></p>
    <p><%= link_to 'PARCELE', '#', class: 'carrefour-btn-outline-primary btn-block my-2' %></p>
  </div>


  <div class='card-padding my-5'>
    <ul class='leaders'>
      <li>
        <span class='card-transaction-text'>Total fatura anterior</span>
        <span class='card-transaction-values'>R$ <span class='card-transaction-value'>473</span>,28</span>
      </li>
      <li>
        <span class='card-transaction-text'>Pagamento efetuado</span>
        <span class='card-transaction-values'>-R$ <span class='card-transaction-value'>473</span>,28</span>
      </li>
      <li>
        <span class='card-transaction-text'>Lançamento deste mês</span>
        <span class='card-transaction-values'>R$ <span class='card-transaction-value'>730</span>,50</span>
      </li>
      <li>
        <span class='card-transaction-text'>Total carrefour TAG</span>
        <span class='card-transaction-values'>-R$ <span class='card-transaction-value'>98</span>,52</span>
      </li>
      <li>
        <span class='card-transaction-text'>Descontos</span>
        <span class='card-transaction-values'>-R$ <span class='card-transaction-value'>60</span>,50</span>
      </li>
      <li>
        <span class='card-transaction-text'>TOTAL</span>
        <span class='card-transaction-values'>R$ <span class='card-transaction-value'>768</span>,52</span>
      </li>
    </ul>
  </div>

    
  <div class='d-flex align-items-center justify-content-around card-padding my-5'>
    <%= link_to 'PDF', '#', class: 'carrefour-btn-outline-primary mx-2 w-50' %>
    <%= link_to 'E-MAIL', '#', class: 'carrefour-btn-outline-primary w-50 mx-2' %>
  </div>


  <div class='p-3'>
    <h2 class='card-title'>Lançamentos da Fatura</h2>
    <hr>

    <p class='data-fatura'>DOM, 16/05</p>
    
    <div class='d-flex align-items-center justify-content-between'>
      <div class='d-flex align-items-center justify-content-start'>
        <h5>X</h5>
        <div>
          <p class='mb-0'>Bonus Premio Seguros</p>
          <p>Outros</p>
        </div>
      </div>
      <p>--</p>
      <p>-R$5,07</p>
    </div>

    <div class='d-flex align-items-center justify-content-between'>
      <div class='d-flex align-items-center justify-content-start'>
        <h5>X</h5>
        <div>
          <p class='mb-0'>Seguro Conta Paga funcionário</p>
          <p>Outros</p>
        </div>
      </div>
      <p>--</p>
      <p>-R$5,07</p>
    </div>

    <p class='data-fatura'>QUI, 13/05</p>
    
    <div class='d-flex align-items-center justify-content-between'>
      <div class='d-flex align-items-center justify-content-start'>
        <h5>X</h5>
        <div>
          <p class='mb-0'>EBANX*SPOTIFY, CURITIBA</p>
          <p>Eletrônicos</p>
        </div>
      </div>
      <p>--</p>
      <p>-R$16,90</p>
    </div>

    <p class='data-fatura'>SEG, 10/05</p>
    
    <div class='d-flex align-items-center justify-content-between'>
      <div class='d-flex align-items-center justify-content-start'>
        <h5>X</h5>
        <div>
          <p class='mb-0'>Pagamento por débito direto</p>
          <p>Outros</p>
        </div>
      </div>
      <p>--</p>
      <p>-R$473,21</p>
    </div>

    <div class='d-flex align-items-center justify-content-between'>
      <div class='d-flex align-items-center justify-content-start'>
        <h5>X</h5>
        <div>
          <p class='mb-0'>RAPPI*Patties Santo Andre</p>
          <p>Serviços</p>
        </div>
      </div>
      <p>--</p>
      <p>R$36,80</p>
    </div>

    <h2 class='mt-5 card-title'>Lançamentos da TAG</h2>
    <hr>

    <p>Carro da Jú</p>

    <p class='data-fatura'>SEG, 17/05</p>
    
    <div class='d-flex align-items-center justify-content-between'>
      <div class='d-flex align-items-center justify-content-start'>
        <h5>X</h5>
        <div>
          <p class='mb-0'>Pedágio Bandeirantes</p>
          <p>Pedágio</p>
        </div>
      </div>
      <p>--</p>
      <p>-R$8,93</p>
    </div>

    <p class='data-fatura'>TER, 18/05</p>
    
    <div class='d-flex align-items-center justify-content-between'>
      <div class='d-flex align-items-center justify-content-start'>
        <h5>X</h5>
        <div>
          <p class='mb-0'>Drive Carrefour Pinheiros</p>
          <p>Mercado</p>
        </div>
      </div>
      <p>--</p>
      <p>-R$8,93</p>
    </div>

    <div class='d-flex align-items-center justify-content-between'>
      <div class='d-flex align-items-center justify-content-start'>
        <h5>X</h5>
        <div>
          <p class='mb-0'>Posto Shell Center</p>
          <p>Posto</p>
        </div>
      </div>
      <p>--</p>
      <p>-R$69,52</p>
    </div>
  </div>

  <div class="card-padding my-5">
    <h2 class='card-title'>Meus Descontos</h2>
    <hr>
    <ul class='leaders'>
      <li>
        <span class='card-transaction-text'>Nesta fatura</span>
        <span class='card-transaction-values'>R$ <span class='card-transaction-value'>124</span>,03</span>
      </li>
      <li>
        <span class='card-transaction-text'>Últimos 12 meses</span>
        <span class='card-transaction-values'>R$ <span class='card-transaction-value'>276</span>,60</span>
      </li>
    </ul>
  </div>

  <div class="card-padding mt-5 pb-4">
    <h2 class='card-title'>Tipo de Envio de Fatura</h2>
    <hr>
    <div class='d-flex justify-content-between align-items-center my-4'>
      <div>
        <p class='mb-0'>Tipo de envio atual</p>
        <p class='my-0'><strong>E-Mail</strong></p>
      </div>
        <%= link_to 'ALTERAR ENVIO', '#', class: 'carrefour-btn-secondary' %>
    </div>
  </div>
</div>

  