<div class='bg-white pb-5 pt-4'>
  <h2 class='card-title text-center'>Fatura Fechada</h2>
  <div class='w-100 b-0 m-0'>
    <img src="/assets/sample-graphic.png" class='w-100'>
  </div>

  <div class='card-padding text-center mt-5'>
    <div class="d-flex justify-content-around align-items-center card-summary">
      <div class='w-50'>
        <p class='mb-0 card-summary-text'>Valor Total</p>
        <span class='card-summary-value'><%= number_to_currency(@card_total, unit: "R$", separator: "," ) %></span>
      </div>
      <div class='w-50'>
        <p class='mb-0 card-summary-text'>Vencimento</p>
        <span class='card-summary-value'>08</span> <span>de julho</span>
      </div>
    </div>
  </div>

  <div class='card-padding my-4'>
    <ul class='leaders'>
      <li>
        <span class='card-transaction-text'>Pagamento mínimo</span>
        <span class='card-transaction-values'>R$115,28</span>
      </li>
    </ul>
  </div>

  <div class="card-padding">
    <p><%= link_to 'CÓDIGO DE BARRAS DA FATURA', '#', class: 'carrefour-btn-primary btn-block mt-5' %></p>
    <p><%= link_to 'PARCELE', '#', class: 'carrefour-btn-outline-primary btn-block my-2' %></p>
  </div>


  <div class='card-padding my-5'>
    <h2 class='card-title'>Resumo da Fatura</h2>
    <hr>
    <ul class='leaders'>
      <li>
        <span class='card-transaction-text'>Total fatura anterior</span>
        <span class='card-transaction-values'>R$473,28</span>
      </li>
      <li>
        <span class='card-transaction-text'>Pagamento efetuado</span>
        <span class='card-transaction-values'>-R$473,28</span>
      </li>
      <li>
        <span class='card-transaction-text'>Lançamento deste mês</span>
        <span class='card-transaction-values'>R$730,50</span>
      </li>
      <li>
        <span class='card-transaction-text'>Total carrefour TAG</span>
        <span class='card-transaction-values'><%= number_to_currency(@tag_total_amount, unit: "R$", separator: "," ) %></span>
      </li>
      <li>
        <span class='card-transaction-text'>Descontos</span>
        <span class='card-transaction-values'>-R$60,50</span>
      </li>
      <li>
        <span class='card-transaction-text'>TOTAL</span>
        <span class='card-transaction-values'><%= number_to_currency(@card_total, unit: "R$", separator: "," ) %></span>
      </li>
    </ul>
  </div>

    
  <div class='d-flex align-items-center justify-content-around card-padding my-5'>
    <%= link_to '#', class: 'carrefour-btn-outline-primary mx-2 w-50' do %>
      <i class="fas fa-file-download"><span> PDF</span></i>
    <% end %>
    <%= link_to '#', class: 'carrefour-btn-outline-primary w-50 mx-2' do %>
      <i class="fas fa-paper-plane"><span> E-MAIL</span></i>
    <% end %>
  </div>


  <div class='card-padding'>
    <h2 class='card-title'>Lançamentos da Fatura</h2>
    <hr>

    <p class='card-order-date'>DOM, 16/05</p>
    
    <div class='d-flex align-items-center justify-content-between card-detailed-transaction'>
      <div class='d-flex align-items-center justify-content-start'>
        <img src="/assets/order_icons/four-icon.png">
        <div>
          <p class='text'>Bonus Premio Seguros</p>
          <p class='category'>Outros</p>
        </div>
      </div>
      <p class='value'>R$5,07</p>
    </div>

    <div class='d-flex align-items-center justify-content-between card-detailed-transaction'>
      <div class='d-flex align-items-center justify-content-start'>
        <img src="/assets/order_icons/four-icon.png">
        <div>
          <p class='text'>Seguro Conta Paga funcionário</p>
          <p class='category'>Outros</p>
        </div>
      </div>
      <p class='value'>-R$5,07</p>
    </div>

    <p class='card-order-date'>QUI, 13/05</p>
    
    <div class='d-flex align-items-center justify-content-between card-detailed-transaction'>
      <div class='d-flex align-items-center justify-content-start'>
        <img src="/assets/order_icons/four-icon.png">
        <div>
          <p class='text'>EBANX*SPOTIFY, CURITIBA</p>
          <p class='category'>Eletrônicos</p>
        </div>
      </div>
      <p class='value'>-R$16,90</p>
    </div>

    <p class='card-order-date'>SEG, 10/05</p>
    
    <div class='d-flex align-items-center justify-content-between card-detailed-transaction'>
      <div class='d-flex align-items-center justify-content-start'>
        <img src="/assets/order_icons/four-icon.png">
        <div>
          <p class='text'>Pagamento por débito direto</p>
          <p class='category'>Outros</p>
        </div>
      </div>
      <p class='value'>-R$473,21</p>
    </div>

    <div class='d-flex align-items-center justify-content-between card-detailed-transaction'>
      <div class='d-flex align-items-center justify-content-start'>
        <img src="/assets/order_icons/four-icon.png">
        <div>
          <p class='text'>RAPPI*Patties Santo Andre</p>
          <p class='category'>Serviços</p>
        </div>
      </div>
      <p class='value'>R$36,80</p>
    </div>
  </div>

  <div class="card-padding">
    <h2 class='mt-5 card-title'>Lançamentos da TAG</h2>
    <hr>

    <% @orders.order('created_at DESC').each do |order|  %>
      <p class='card-order-date'><%= @week_day[order.created_at.strftime('%w').to_i] %>., <%= order.created_at.strftime('%d/%m') %></p>
    
      <div class='d-flex align-items-center justify-content-between card-detailed-transaction'>
        <div class='d-flex align-items-center justify-content-start'>
          <img src="/assets/order_icons/four-icon.png">
          <div>
            <p class='text'><%= order.location.name %></p>
            <p class='category'><%= order.location.category %></p>
            <p class='category'><%= order.tag.nickname %></p>
          </div>
        </div>
        <p class='value'><%= number_to_currency(order.value, unit: "R$", separator: "," ) %></p>
      </div>
    <% end %>

    <hr>

    <% @orders_hash.each do |nickname, dates_hash| %>
      <p class='card-tag-nickname'><%= nickname %></p>
      <% dates_hash.each do |date, orders| %>
        <p class='card-order-date'><%= date %></p>
        <% orders.each do |order| %>
          <div class='d-flex align-items-center justify-content-between card-detailed-transaction'>
            <div class='d-flex align-items-center justify-content-start'>
              <img src="/assets/order_icons/four-icon.png">
              <div>
                <p class='text'><%= order.location.name %></p>
                <p class='category'><%= order.location.category %></p>
              </div>
            </div>
            <p class='value'><%= number_to_currency(order.value, unit: "R$", separator: "," ) %></p>
          </div>
        <% end %>   
      <% end %>
    <% end %>
    


  </div>

  <div class="card-padding my-5">
    <h2 class='card-title'>Meus Descontos</h2>
    <hr>
    <ul class='leaders'>
      <li>
        <span class='card-transaction-text'>Nesta fatura</span>
        <span class='card-transaction-values'>R$124,03</span>
      </li>
      <li>
        <span class='card-transaction-text'>Últimos 12 meses</span>
        <span class='card-transaction-values'>R$276,60</span>
      </li>
    </ul>
  </div>

  <div class="card-padding mt-5 pb-4">
    <h2 class='card-title'>Tipo de Envio de Fatura</h2>
    <hr>
    <div class='d-flex justify-content-between align-items-top my-4'>
      <div>
        <p class='mb-0'>Tipo de envio atual</p>
        <p class='my-0'><strong>E-Mail</strong></p>
      </div>
        <%= link_to 'ALTERAR ENVIO', '#', class: 'carrefour-btn-secondary' %>
    </div>
  </div>
</div>

  