
<h2 style="margin: 1rem;"> Olá, <%= current_user.first_name %> </h2>

<h4 style="margin: 1rem;">Veículos Cadastrados</h4>

<% @tags.each do |tag| %>
  <div class="tag_card">
    <p><%= tag.nickname %></p>
    <div class="tag_card_wrapper">
      <div class="car_info">
        <div class="info"><strong>Marca:</strong><span><%= tag.maker %></span></div>
        <div class="info"><strong>Modelo:</strong><span><%= tag.model %></span></div>
        <div class="info"><strong>Placa:</strong><span><%= tag.plate %></span></div>
      </div>
      <%= button_to "Cancelar", tag_path(tag), method: :delete %>
      <%= console %>
    </div>
  </div>
<% end %>


<%= link_to 'Novo Veículo', new_tag_path, class: "btn btn-primary new-vehicle" %>
