
<h2 style="margin: 1rem;"> Olá, <%= current_user.first_name %> </h2>

<h4 style="margin: 1rem;">Veículos Cadastrados</h4>

<% if current_user.tags.length.zero? %>
  <p class="empty-question">Você não tem nenhuma TAG cadastrada. Gostaria de solicitar uma?</p>
<% else %>

  <% @tags.each_with_index do |tag, index| %>
    <% if !tag.canceled %>
      <%= link_to(tag) do %>
        <div class="tag_card">
          <div class="tag-title d-flex justify-content-between">
            <p><%= tag.nickname %></p>
            <i class="fas fa-chevron-right"></i>
          </div>
          <div class="tag_card_wrapper">
            <div class="car_info">
              <div class="info"><strong>Marca:</strong><span><%= tag.maker.split("/").first %></span></div>
              <div class="info"><strong>Modelo:</strong><span><%= tag.maker.split("/").last.slice!(/([a-zA-Z]+)/) %></span></div>
              <div class="info"><strong>Placa:</strong><span><%= tag.plate %></span></div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>

<% end %>

<div style="padding-bottom: 65px;">
  <%= link_to 'Novo Veículo', new_tag_path, class: "new-tag-button new-vehicle" %>
</div>
