
<h2 style="margin: 1rem;"> Olá, <%= current_user.first_name %> </h2>

<h4 style="margin: 1rem;">Veículos Cadastrados</h4>

<% @tags.each_with_index do |tag, index| %>
  <div class="tag_card">
    <p><%= tag.nickname %></p>
    <div class="tag_card_wrapper">
      <div class="car_info">
        <div class="info"><strong>Marca:</strong><span><%= tag.maker.split("-")[1] %></span></div>
        <div class="info"><strong>Modelo:</strong><span><%= tag.model %></span></div>
        <div class="info"><strong>Placa:</strong><span><%= tag.plate %></span></div>
      </div>
      <div class="btns-wrapper">
        <%= button_to "Cancelar", tag_path(tag), method: :delete, class: "carrefour-button" %>
        <%# Cancel button stuff down here %>
        <button id=<%="sweet-alert-unlock-tag-#{index}"%> class="btn btn-outline-secondary"><%= tag.locked ? 'Desbloquear' : 'Bloquear'%></button>
        <%= link_to "", unlock_tag_path(tag), id: "unlock-link", class: "hidden" %>
      </div>
    </div>
  </div>
<% end %>

<div style="padding-bottom: 65px;">
  <%= link_to 'Novo Veículo', new_tag_path, class: "new-tag-button new-vehicle" %>
</div>
