<div class="new-tag-message">
  <% if current_user.tags.length.zero? %>
    <h1>Vamos começar!</h1>
  <% else %>
    <h1>Novo Veículo</h1>
  <% end %>

  <h2>Em qual veículo a TAG será instalada?</h2>
</div>

<div class="form-container">
  <%= simple_form_for(@tag) do |f| %>
    <%= f.input :maker, label: "Marca", label_html: { class: "new-tag-label" } %>
    <%= f.input :model, label: "Modelo", label_html: { class: "new-tag-label" } %>
    <%= f.input :plate, label: "Placa", label_html: { class: "new-tag-label" } %>
    <%= f.input :year, label: "Ano", label_html: { class: "new-tag-label" } %>
    <%= f.input :nickname, label: "Apelido do veículo", label_html: { class: "new-tag-label" } %>
    <%= f.input :photo, input_html: { type: "file", accept: "image/*", capture: "environment", class: "d-none add-picture" }, label: "📷 Tire uma foto do documento do seu veículo", label_html: { class: 'add-picture'} %>
    <button type="button" data-toggle="modal" data-target="#exampleModal" class="submit-button">Prosseguir</button>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confira a foto de seu documento</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Confira se a foto do documento do seu veículo está legível</p>
            <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit "Prosseguir", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

