<% if current_user.tags.length.zero? %>
  <h1>Vamos começar!</h1>
<% else %>
  <h1>Novo Veículo</h1>
<% end %>

<h2>Em qual veículo a TAG será instalada?</h2>

<%= simple_form_for(@tag) do |f| %>
  <%= f.input :maker, label: "Marca" %>
  <%= f.input :model, label: "Modelo" %>
  <%= f.input :plate, label: "Placa" %>
  <%= f.input :nickname, label: "Apelido do veículo" %>
  <%= f.submit %>
<% end %>
