<p id="notice"><%= notice %></p>

<% @locations.each do |location| %>
  <p><%= location.name %>
  <%= location.address %></p>
<% end %>



<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
